.note{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    text-align: justify;
}
#attractions{
    text-decoration: solid underline;
    text-align: center;
}
.heading{
    text-align: center;
    text-decoration: underline;
}
